<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                defaultHref="/tabs/tab3"
                icon="ios-arrow-back"
            ></ion-back-button>
        </ion-buttons>
        <ion-title>Videojuego</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background">
    <div class="innerdiv">
        <form [formGroup]="FormGame" (ngSubmit)="addGame(FormGame.value)">
        <ion-input
            formControlName="Title"
            name="Title"
            class="Title text-center"
            value="{{ Title }}"
            placeholder="Videojuego"
        ></ion-input>
        <div *ngIf="thumb !== ''; else addImage"> 
          <ion-img
              class="image-right mr-2"
              src="{{ thumb }}"
          ></ion-img>
        </div>
        <ng-template #addImage>
          <div class="Imagesize mr-2 text-center">
            <button (click)="addThumb()" class="btn btn-green">Añade una foto</button>
          </div>
        </ng-template>

        <div id="percentage" class="c100 ml-3 mt-3 green {{ classPValue }}">
            <input formControlName="PValue"
            name="PValue" id="valuePercentage" (keydown.enter)="ChangeValue($event)" value='{{ classValue }}'>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>

        <textarea formControlName="Description"
        name="Description" placeholder="Añade aqui tu opinion del videojuego..." value="{{ Description }}"></textarea>
        <div class="text-center">
            <button class="btn btn-green" type="submit"><ion-icon name="save"></ion-icon>Guardar</button> 
        </div>
    </form>
    </div>
</ion-content>
